header {
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 15%;
}

.others nav ul{
    display: flex;
    justify-content: flex-end;
    /* flex-direction: row; */
}

.others nav ul li{
    margin-left: 20px;
}

.user-forms {
    display: flex;
}