<div class="search-school">
    <div class="search-position">
        <h1 class="title">Type Your School...</h1>
        <div class="lower-display">
            <div class="upper">
                <input type="text" placeholder="Enter a School..." class="search-input">
                <button class="school-submit">Submit</button>
            </div>
            <div class="lower">
                <p>We are the best at rating dining halls, i swear</p>
            </div>
        </div>
    </div>
</div>