.search-school {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.title {
    text-align: center;
    font-family: 'Roboto', sans-serif; /* Tesla uses the Roboto font */
    color: #00ccff; /* This is the red color Tesla often uses in their branding */
    font-size: 4em; /* Adjust size as needed */
    font-weight: bold; /* Tesla's titles are often bold */
    text-transform: uppercase; /* Tesla often uses uppercase letters in their titles */
}


.search-school {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.search-position {
    width: 90%;
    max-width: 600px; /* Ensures the search box doesn't get too wide on larger screens */
    background: #fef8f8; /* White background for contrast */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.search-input {
    width: 60%; /* Full width to fill container */
    margin: 2em;
    padding: 10px 15px;
    margin-bottom: 10px; /* Space between input and button */
    border: 2px solid #00ccff; /* Border color matching the title */
    border-radius: 5px;
    font-size: 1em;
    color: #333; /* Dark color for text */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); /* Inner shadow for depth */
}

button {
    width: 100%;
    padding: 10px 15px;
    background-color: #00ccff; /* Matching the title color */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer; /* Cursor effect on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #0099cc; /* Slightly darker shade on hover */
}

p {
    margin-top: 10px; /* Margin to separate from the button */
    font-family: 'Roboto', sans-serif;
    color: #666; /* Softer color for less emphasis */
    font-size: 1em;
    text-align: center;
}

.school-submit {
    width: 6em;
}

.lower-display {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    justify-content: center;
    margin: 0;
}

.lower {
    margin: 1em;
}

